// * Memo * //
// `var(--oypb-**)` variables are unique to this extension.
// * Memo * //


.is-outsided-playerBar {

  // Resizing container size.
  #player-container {
    height: calc(100% + var(--oypb-player-bar-height)) !important;
  }

  // Revert original video size
  .html5-video-player {
    height: calc(100% - var(--oypb-player-bar-height)) !important;
    overflow: visible;
    contain: size style layout; // Removing `layput` from `strict`.
  }

  // Move player bar to container bottom.
  .ytp-chrome-bottom {
    bottom: calc(-1 * var(--oypb-player-bar-height));
  }


  ////
  // * Repair side effects due to expanded container.
  ////

  // When `.ended-mode`, the original took minus `top` value and hiding video element, but because `top` is interfering.
  .ended-mode .html5-main-video {
    visibility: hidden !important;
  }

  // Long ad video when before starting video playback.
  .videoAdUiRedesign {
    // Ad property (bottom left)
    .videoAdUiBottomBar {
      bottom: 5px;
    }

    // Countdown to SkipAd button with thumbnail (bottom right)
    .videoAdUiPreSkipContainer,
    // SkipAd button (bottom right)
    .videoAdUiSkipContainer {
      bottom: 34px;
    }
  }

  // Ad banner (bottom center): when playing few seconds then ad starting.
  .ad-overlay {
    bottom: calc(49px - var(--oypb-player-bar-height)) !important;
  }

  // Ad promotion link (bottom left): when playing promotional video.
  .iv-promo {
    bottom: 10px;
  }

  // Inner video contents area.
  .ytp-iv-player-content {
    bottom: 12px;
  }

  // Tool-tip's coord.
  .ytp-tooltip {
    top: auto !important;
    bottom: calc(10.5px) !important;
  }
  
  // player bar's gradient effect.
  .ytp-gradient-bottom {
    display: none;
  }

  // * When the player bar auto-hides, prepare a pseudo background color.
  // * when player bar displaying = pseudo hiding
  .html5-video-player::after {
    content: "";
    background-color: var(--yt-main-app-background-tmp);
    width: 100%;
    height: var(--oypb-player-bar-height);
    position: absolute;
    bottom: calc(-1 * var(--oypb-player-bar-height));
    // left: 50%;
    // transform: translateX(-50%);
    opacity: 0;
    z-index: -1000;
    transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
  }
  // when player bar hiding = pseudo displaying
  .html5-video-player.ytp-autohide::after {
    opacity: 1;
    z-index: 1000;
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  }

  // Info panels & sidebar container.
  #main {
    margin-top: var(--oypb-player-bar-height);
  }
  
  // Sidebar related videos when Default view mode.
  ytd-watch:not([theater]) #related {
    top: calc(-1 * var(--oypb-player-bar-height));
  }

}