# source_up is load any .envrc higher up in the folder structure. cf.https://github.com/direnv/direnv#loading-layered-envrc
source_up

# use for release-it
export GH_TOKEN=""

# use for chrome-webstore-manager
export APP_ITEM_ID=
export CLIENT_ID=
export CLIENT_SECRET=
export REFRESH_TOKEN=
export WEBSTORE_TOKEN=$(chrome-webstore-manager refresh_token --client_id $CLIENT_ID --client_secret $CLIENT_SECRET --refresh_token $REFRESH_TOKEN)
