// * When outside styles * //


// * Memo * //
// `var(--oypb-**)` variables are unique to this extension.
// * Memo * //

//**
//* Declare vars
//*
:root {
  --oypb-player-bar-height: 51px;

  // size of fillthe left and right gap of player bar.
  --oypb-player-bar-fill-lr-gap-size: 12px;

  // player bar color of Default theme.
  --oypb-player-bar-color: rgb(35, 35, 35);

  --oypb-transition-in: .25s cubic-bezier(0.0, 0.0, 0.2, 1);
  --oypb-transition-out: 0s cubic-bezier(0.4, 0.0, 1, 1); // 本来YTでは`.1s`だけどシュッと消えるように`0s`に変更

  // when fullscreen mode
  .oypb-is-fullscreen {
    --oypb-player-bar-height: 58px;
    --oypb-player-bar-fill-lr-gap-size: 24px;
    --oypb-player-ytp-chrome-top: 63px; // fix for: displaying the title,watch later, share icon - https://user-images.githubusercontent.com/32516842/180366697-195889de-cb42-4e28-9c34-7151589e8122.png
  }

  // when dark theme
  &[dark] {
    --oypb-player-bar-color: var(--yt-main-app-background-tmp);
  }
}

.oypb-is-outside-playerBar.oypb-is-visible-playerBar {
  // Move down the entire primary container
  #primary {
    // @include translateBarHeight($direction: 'plus');
    @include transitionOfTranslateBarHeight($pattern: 'in');

    @at-root #{$isOutsidePlayerBar} #primary {
      @include translateBarHeight($direction: 'plus');
      @include transitionOfTranslateBarHeight($pattern: 'out');
    }
  }

  // Hide scrollbar because the side effect of `#primary` translate.
  #columns {
    overflow-y: hidden;
  }

  // Restore PlayerBox to original position
  #player {
    // @include translateBarHeight($direction: 'minus');
    @include transitionOfTranslateBarHeight($pattern: 'in');

    @at-root #{$isOutsidePlayerBar} #player {
      @include translateBarHeight($direction: 'minus');
      @include transitionOfTranslateBarHeight($pattern: 'out');
    }
  }

  // Revert original video size
  .html5-video-player {
    overflow: visible;
    contain: size style layout; // Removing `layput` from `strict`.
  }

  // Player bar
  .ytp-chrome-bottom {
    background-color: var(--oypb-player-bar-color);
    // @include translateBarHeight($direction: 'plus');
    @include transitionOfTranslateBarHeight('in');

    @at-root #{$isOutsidePlayerBar} .ytp-chrome-bottom {
      @include translateBarHeight($direction: 'plus');
      @include transitionOfTranslateBarHeight($pattern: 'out');
    }

    @mixin ytp-controls-border() {
      content: '';
      display: block;
      height: 100%;
      width: var(--oypb-player-bar-fill-lr-gap-size);
      position: absolute;
      top: 0;
      background-color: var(--oypb-player-bar-color);
    }

    .ytp-left-controls::before {
      @include ytp-controls-border();
      left: calc(-1 * var(--oypb-player-bar-fill-lr-gap-size));
    }

    .ytp-right-controls::after {
      @include ytp-controls-border();
      right: calc(-1 * var(--oypb-player-bar-fill-lr-gap-size));
    }
  }

  .oypb-toggleExtensionButton>svg {
    transform: rotateX(180deg);
  }


  ////
  // * Repair side effects due to expanded container.
  ////

  // When `.ended-mode`, the original took minus `top` value and hiding video element, but because `top` is interfering.
  // `.html5-video-player` で `overflow: hidden` しているせいでビデオ再生が終了したときに枠外に飛ばしているビデオコンテナが見えてしまう問題を対処
  // https://gyazo.com/97bf9b42d40d058d1fa1841eb1d4e6f4
  .ended-mode .html5-main-video {
    visibility: hidden !important;
  }

  // Inner video contents area. (e.g. right-bottom author icon)
  .ytp-iv-player-content {
    bottom: 12px;
  }

  // Tool-tip's coord.
  .ytp-tooltip {
    @include translateBarHeight($direction: 'plus',$important:true);
  }

  // Subtitles/caption
  .caption-window.ytp-caption-window-bottom {
    @include translateBarHeight($direction: 'plus');
    @include transitionOfTranslateBarHeight($pattern: 'in');

    @at-root #{$isOutsidePlayerBar} .caption-window.ytp-caption-window-bottom {
      @include transitionOfTranslateBarHeight($pattern: 'out');
    }
  }

  // Player Settings menu panel.
  .ytp-settings-menu {
    @include translateBarHeight($direction: 'plus');
  }

  // player bar's gradient effect.
  .ytp-gradient-bottom {
    display: none;
  }

  // Sidebar related videos when Theater mode.
  ytd-watch-flexy[theater],
  ytd-watch-flexy[fullscreen] {
    #secondary {
      @include translateBarHeight($direction: 'plus');
      @include transitionOfTranslateBarHeight($pattern: 'in');

      @at-root #{$isOutsidePlayerBar} #secondary {
        @include transitionOfTranslateBarHeight($pattern: 'out');
      }
    }
  }

  // The fullscreen mode that titles, watch later, shared, of top area of player container.
  &.oypb-is-fullscreen {
    .ytp-chrome-top {
      transform: translateY(calc(-1 * var(--oypb-player-ytp-chrome-top)));
    }
    .ytp-big-mode .ytp-gradient-top {
      display: none;
    }
  }
}
