:root {
	/* Initial value: change dynamic from JS */
	--oypb-player-bar-height: 75px;

	/* // player bar color of Default theme. */
	--oypb-player-bar-color: rgb(15, 15, 15);
	--oypb-player-bar-font-color: #eee;
	--oypb-player-bar-icon-color: #fff;

	/* // when dark theme */
	&[dark] {
		--oypb-player-bar-color: transparent;
	}
}
