// * When outsided styles * //


// * Memo * //
// `var(--oypb-**)` variables are unique to this extension.
// * Memo * //


.oypb-is-outsided-playerBar {

  // Resizing container size.
  #player-container {
    height: calc(100% + var(--oypb-player-bar-height)) !important;
    background-color: var(--yt-main-app-background-tmp) !important;
  }

  // Revert original video size
  .html5-video-player {
    height: calc(100% - var(--oypb-player-bar-height)) !important;
    overflow: visible;
    contain: size style layout; // Removing `layput` from `strict`.
    
    // When fullscreen mode.
    &.ytp-fullscreen {
      height: 100% !important;
    }
  }

  // Player bar
  .ytp-chrome-bottom {
    // Declare player bar color.
    --oypb-player-bar-color: rgb(35,35,35); // Default theme
    [dark] & {
      --oypb-player-bar-color: var(--yt-main-app-background-tmp); // Dark theme
    }

    bottom: calc(-1 * var(--oypb-player-bar-height)); // Move player bar to container bottom.
    background-color: var(--oypb-player-bar-color);

    @mixin ytp-controls-border() {
      content: '';
      display: block;
      height: 100%;
      width: 12px;
      position: absolute;
      top: 0;
      background-color: var(--oypb-player-bar-color);
    }
    .ytp-left-controls::before {
      @include ytp-controls-border();
      left: -12px;
    }
    .ytp-right-controls::after {
      @include ytp-controls-border();
      right: -12px;
    }
  }

  .ytp-right-controls {
    &__oypb-toggleExtensionButton > svg {
      transform: rotateX(180deg) translateY(2px)
    }
  }


  ////
  // * Repair side effects due to expanded container.
  ////

  // When `.ended-mode`, the original took minus `top` value and hiding video element, but because `top` is interfering.
  .ended-mode .html5-main-video {
    visibility: hidden !important;
  }

  // Long ad video when before starting video playback.
  .videoAdUiRedesign {
    // Ad property (bottom left)
    .videoAdUiBottomBar {
      bottom: 5px;
    }

    // Countdown to SkipAd button with thumbnail (bottom right)
    .videoAdUiPreSkipContainer,
    // SkipAd button (bottom right)
    .videoAdUiSkipContainer {
      bottom: 34px;
    }
  }

  // Ad banner (bottom center): when playing few seconds then ad starting.
  .ad-overlay {
    bottom: calc(49px - var(--oypb-player-bar-height)) !important;
  }

  // Ad promotion remaining time & link (bottom left): when playing promotional video.
  .iv-promo {
    bottom: 10px;
  }

  // Ad promotion collapse link (bottom left)
  .html5-video-player.ad-interrupting .iv-promo {
    bottom: 34px;
  }

  // Inner video contents area.
  .ytp-iv-player-content {
    bottom: 12px;
  }

  // Tool-tip's coord.
  .ytp-tooltip {
    top: auto !important;
    bottom: calc(10.5px) !important;
  }

  // Player Settings menu panel.
  .ytp-settings-menu {
    bottom: calc(49px - var(--oypb-player-bar-height));
  }
  
  // player bar's gradient effect.
  .ytp-gradient-bottom {
    display: none;
  }

  // Info panels & sidebar container.
  #main {
    margin-top: var(--oypb-player-bar-height);
  }
  
  // Sidebar related videos when Default view mode.
  ytd-watch:not([theater]) #related {
    top: calc(-1 * var(--oypb-player-bar-height));
  }

}