// * When outside styles * //


// * Memo * //
// `var(--oypb-**)` variables are unique to this extension.
// * Memo * //


.oypb-is-outside-playerBar {

  // Move down the entire primary container
  #primary {
    transform: translate3d(0, var(--oypb-player-bar-height), 0);
  }

  // Restore PlayerBox to original position
  #player {
    transform: translate3d(0, calc(-1 * var(--oypb-player-bar-height)), 0);
  }

  // Revert original video size
  .html5-video-player {
    overflow: visible;
    contain: size style layout; // Removing `layput` from `strict`.
  }

  // Player bar
  .ytp-chrome-bottom {
    // Declare player bar color.
    --oypb-player-bar-color: rgb(35, 35, 35); // Default theme

    [dark] & {
      --oypb-player-bar-color: var(--yt-main-app-background-tmp); // Dark theme
    }

    transform: translate3d(0, var(--oypb-player-bar-height), 0);
    background-color: var(--oypb-player-bar-color);

    @mixin ytp-controls-border() {
      content: '';
      display: block;
      height: 100%;
      width: 12px;
      position: absolute;
      top: 0;
      background-color: var(--oypb-player-bar-color);
    }

    .ytp-left-controls::before {
      @include ytp-controls-border();
      left: -12px;
    }

    .ytp-right-controls::after {
      @include ytp-controls-border();
      right: -12px;
    }
  }

  .oypb-toggleExtensionButton>svg {
    transform: rotateX(180deg);
  }


  ////
  // * Repair side effects due to expanded container.
  ////

  // When `.ended-mode`, the original took minus `top` value and hiding video element, but because `top` is interfering.
  // `.html5-video-player` で `overflow: hidden` しているせいでビデオ再生が終了したときに枠外に飛ばしているビデオコンテナが見えてしまう問題を対処
  // https://gyazo.com/97bf9b42d40d058d1fa1841eb1d4e6f4
  .ended-mode .html5-main-video {
    visibility: hidden !important;
  }

  // Inner video contents area.
  .ytp-iv-player-content {
    transform: translate3d(0, var(--oypb-player-bar-height), 0);
  }

  // Tool-tip's coord.
  .ytp-tooltip {
    transform: translate3d(0, var(--oypb-player-bar-height), 0) !important;
  }

  // Subtitles/caption
  .caption-window.ytp-caption-window-bottom {
    transform: translate3d(0, var(--oypb-player-bar-height), 0);
  }

  // Player Settings menu panel.
  .ytp-settings-menu {
    transform: translate3d(0, var(--oypb-player-bar-height), 0);
  }

  // player bar's gradient effect.
  .ytp-gradient-bottom {
    display: none;
  }

  // Sidebar related videos when Theater mode.
  ytd-watch-flexy[theater] {
    #secondary-inner {
      transform: translate3d(0, var(--oypb-player-bar-height), 0);
    }
  }
}
