/**
 * for style compatibility
 */

@import "../_vars/_oypbVars.css";

[data-oypb-enable][data-oypb-is-outside] {
  .ytp-chrome-bottom {
    background-color: var(--oypb-player-bar-color);
    color: var(--oypb-player-bar-font-color);
    position: relative;
  }

  .ytp-tooltip {
    transform: translate3d(0, calc(1 * var(--oypb-player-bar-height)), 0) !important
  }

  /* remove gradient bottom shadow */
  .ytp-gradient-bottom {
    visibility: hidden;
  }

  /* Fill the both sides of player bar */
  .ytp-left-controls::before {
    content: '';
    display: block;
    height: 100%;
    width: var(--oypb-player-bar-fill-lr-gap-size);
    position: absolute;
    top: 0;
    background-color: var(--oypb-player-bar-color);
    left: calc(-1 * var(--oypb-player-bar-fill-lr-gap-size));
  }

  .ytp-right-controls::after {
    content: '';
    display: block;
    height: 100%;
    width: var(--oypb-player-bar-fill-lr-gap-size);
    position: absolute;
    top: 0;
    background-color: var(--oypb-player-bar-color);
    right: calc(-1 * var(--oypb-player-bar-fill-lr-gap-size));

  }

  /* compat hack the default-view player rounded style */
  /* FIXME(NOTE): overflow: hidden;にradiusの一部をかけるとブラウザのバグなのか動画の色彩が濃くなるが、どうしようもない */
  [rounded-player-large][default-layout] #ytd-player.ytd-watch-flexy {
    border-radius: 12px 12px 0 0;
  }

  [rounded-player-large][default-layout] .ytp-left-controls::before {
    border-radius: 0 0 0 12px;
  }

  [rounded-player-large][default-layout] .ytp-right-controls::after {
    border-radius: 0 0 12px 0;
  }

  /* when not always display player bar style */
  &:not([data-oypb-is-always-display-player-bar='']) {
    .ytp-chrome-bottom {
      display: none;
    }

    [rounded-player-large][default-layout] #ytd-player.ytd-watch-flexy {
      border-radius: 12px 12px 12px 12px;
    }
  }
}